<div id="introLeftCol">
    <div id="introContent">
        <h1><span>{{elements.promoHeader.value}}</span>
        {{elements.promoSubHeader.value}}<br></h1>
        <p>{{elements.promoBody.value}}</p>
    </div>
	<a href="{{elements.promoLink.linkURL}}">
    <img src="{{elements.promoImage.renditions.tallImage.url}}" id="introLeftImg" width="139" height="271" alt="{{elements.promoLink.linkText}}">
    </a>
</div>